numpy
pathlib
ensure
opencv-python
Flask
werkzeug
pyyaml
python-box
types-PyYAML
opencv-python
roboflow
torch
pillow
torchvision
matplotlib
ultralytics
pandas
seaborn
scipy
requests
tqdm
psutil
thop
ultralytics-thop
tensorflow
setuptools
boto3
botocore
# -e .